h1{
background-color :yellow;
color: black;
border-radius: 50%;
}
input{
color:black;
}
table,tr,th,td{
border: 1px solid black;
font-size: 10px;
font-weight: bold;
}
img{
width: 100%;
height: 100%;
}